# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# =====================
# Virtual Environment
# =====================
venv/
ENV/
env/

# =====================
# PyTorch / ML / Data
# =====================
*.pth
*.ckpt
*.log

# Ignore processed and raw datasets
data/processed/
data/raw/

# GradCAM / outputs
gradcam_result.png
muilt_class_classfaction/
data_muilt_calss_classfaction/
gradcam_output/

# =====================
# Jupyter / Notebook
# =====================
.ipynb_checkpoints/

# =====================
# OS / Editor files
# =====================
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
